thead {
    color: black;
}

input {
    color: black;
}

th {
    font-weight: bolder;
    font-family: Calibri;
    font-size: 22px
}


td.lowVal {
    background-color: rgba(255, 0, 0, 0.05);
}
td.medVal {
    background-color: rgba(255, 196, 0, 0.05);
}
td.highVal {
    background-color: rgba(51, 255, 0, 0.05);
}